.hero {
   
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: #fff;
    display: flex;
  }
  
  .hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .hero button {
    background-color:skyblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
 
  
  .hero button:hover {
    background-color: #25548f;
  }



 
.enquire-btn {

  color: white;
  background-color:skyblue;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enquire-btn:hover {
  background-color: #0056b3;
}


.custom-modal .modal-content {
  animation: fadeIn 0.5s ease-out;


  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
  background-color: #f7f7f7;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.nav-tabs .nav-link {
  color: #007bff;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}


.modal-body ul {
  list-style-type: none;
  padding-left: 0;
}

.modal-body ul li {
  font-size: 20px;
  margin-bottom: 100px;

}

.modal-header {
background-color:#f4f4f4;
color:grey;
 align-items: center;
 width: 500px;
 padding-right: 100px;
}

.modal-footer {
  background-color: #f4f4f4;
  width: 600px;
}

.modal-body {
  
  padding-right: 100px;
  padding-left: 100px;
  width: 600px;
  align-items: center;
  font-size: 1rem;
} */


.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom right, #c9e4f7, #f8f9fa);
  letter-spacing: 3px;
}

.modal-header, .modal-footer {
  background-color:#1ABC9C;
  color: white;
}

.modal-header .close {
  color: white;
}

.modal-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button {
  transition: transform 0.3s ease;
  background-color:grey;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;

}
.cls{
  border-color:#18BC9C;
}


button:hover {
  transform: scale(1.05);
}

input, textarea {
  border-radius: 5px;
  border: 1px solid #18BC9C;
}

input:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(54, 35, 224, 0.5);
  border-color:#1836bc;
}

.form-control {
  margin-bottom: 15px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-500px);
  }
  to {
    opacity: 1;
    transform: translateY(100);

  }
}

.modal.fade .modal-dialog {
  animation: fadeIn 0.5s ease-out;
}


/* .image-slider {
  background-image: url(https://www.meitra.com/public/upload_file/6338042703be91664615463.jpg);
  height:500px;
} */





  
  
  